/*h1  {
    color: rgb(235, 176, 176)(235, 176, 176)(235, 176, 176)(235, 176, 176)(235, 176, 176);
    text-align: center;
    margin-top: 20px;
    font-family: 'CALIBRI', cursive;
 }
 h2 {
   color: white;
    text-align: center;
    margin-top: 20px;
    font-family: 'CALIBRI', cursive;
 }
 p {
    color: rgb(173, 0, 0);
    text-align: center;
    margin-top: 20px;
    font-family: 'CALIBRI', cursive;
 }


 /*.container {
    color: rgb(173, 0, 0);
    padding-left: 80px;
    text-align: center;
    margin-top: 20px;
    font-family: 'CALIBRI', cursive; 
 }


 button {
    font-weight: bold;
    background-color: #555f88 !important;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'CALIBRI', cursive;
 } */